SERPER_API_KEY=your_serper_key_here                
OPENAI_API_KEY=your_openai_key_here
REPOSITORY_NAME=langgraph-ecr-docker-repo
LAMBDA_FUNCTION_NAME=langgraph-lambda-function     
ROLE_NAME=lambda-bedrock-role                      
ROLE_POLICY_NAME=LambdaBedrockPolicy  
IMAGE_NAME=langgraph-lambda-image                  
AWS_REGION=your_aws_region                          
AWS_ACCESS_KEY_ID=your_aws_access_key              
AWS_SECRET_ACCESS_KEY=your_aws_secret_key          
AWS_ACCOUNT_ID=your_aws_account_id                                